// Imports //

@use "../abstracts/" as *;

// Codes //

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scaleY(0);
  }
  100% {
    opacity: 1;
    transform: scaleY(1);
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
    transform: scaleY(1);
  }
  100% {
    opacity: 0;
    transform: scaleY(0);
  }
}

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateX(-15%);
  }
  80% {
    opacity: 0.8;
    transform: translateX(10%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes slideOut {
  0% {
    opacity: 0;
    transform: translateX(0);
  }
  80% {
    opacity: 0.8;
    transform: translateX(10%);
  }
  100% {
    opacity: 0;
    transform: translateX(-15%);
  }
}

@keyframes bounceIn {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  80% {
    opacity: 0.8;
    transform: translateY(20%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes bounceOut {
  0% {
    opacity: 0;
    transform: translateY(0);
  }
  80% {
    opacity: 0.8;
    transform: translateY(20%);
  }
  100% {
    opacity: 0;
    transform: translateY(-100%);
  }
}
