@use "../../assets/scss/abstracts/" as *;

.loader {
  padding: var(--space-16);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &__icon {
    width: 6.4rem;
    height: 6.4rem;
    border-top: 4px solid var(--gray-900);
    border-bottom: 4px solid var(--gray-900);
    border-right: 4px solid var(--gray-300);
    border-left: 4px solid var(--gray-300);
    border-radius: 50%;
    margin-bottom: var(--space-24);
  }
  &__text {
    font-size: var(--size-20);
  }
}
